@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
:root{
    --nav-clr: #05131E;
    --body-clr: #08182A;
    --prpl: #600FC8;
    --active-body: #213545;
    --active-prpl: #B786F5;
    font-family: 'Rubik', sans-serif;
}
body{
    padding: 0;
    margin: 0;
    background-color: var(--body-clr);
}
nav{
    background-color: var(--nav-clr);
    color: white;
    width: 100%;
    height: 8vh;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    list-style-type: none;
}

.nav_menu{
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    margin-top: 10px;
}

.nav_menu a{
    text-decoration: none;
    color: white;
}

.nav_menu li{
    float: left;
    margin-right: 1vw;
    margin-left: 1vw;
}

.logo{
    margin-left: 4vw;
    font-size: 50px;
}
.nav_btn{
    cursor: pointer;
    transition: 0.5s;
}

.nav_btn:hover{
    color: var(--prpl);
}

.logo_block{
    display: inline-block;
    margin-top: -30px;
    padding-top: 0;
}

.logo_block a{
    text-decoration: none;
    color: white;
}

.nav_block{
    display: inline-block;
    float: right;
    margin-right: 2vw;
}

.ab_txt{
    text-align: center;
    color: white;
    font-size: 200%;
    line-height: 20px;
}

.me_txt{
    color: var(--prpl);
}

main{
    text-align: center;
    align-items: center;
}

.box_img{
    /* width: 20vw;
    height: 20vw; */
    position: relative;
    margin: -3rem 2rem 2rem;
}

.box_img img{
    width: 325px;
    height: 325px;
    margin: 3rem 15rem 0;
    border-radius: 250px;
    box-shadow: 0 0 100px var(--prpl);
    mix-blend-mode: lighten;
}
.main_txt{
    color: white;
    width: 45vw;
    margin-right: auto;
    margin-left: auto;
}

.main_txt p{
    font-size: 200%;
}

.main_txt h2{
    font-size: 350%;
    font-weight: 600;
    line-height: 50px;
    color: transparent;
    -webkit-text-stroke: 0.7px var(--prpl);
}

.more_btn{
    cursor: pointer;
    border: none;
    border-radius: 20px;
    width: 160px;
    height: 60px;
    background-color: var(--prpl);
    border: 3px solid var(--prpl);
    color: var(--body-clr);
    font-size: 150%;
    transition: 0.7s;
}

.more_btn:hover{
    background-color: var(--body-clr);
    color: var(--prpl);
}

.more_btn:active{
    background-color: var(--active);
}

.ach_box{
    color: white;
    width: 90vw;
    margin: 0 5vw 5vw;
}

.ach_title{
    float: left;
    margin: 0 5vw 0;
    font-size: 250%;
    font-weight: 700;
}

.achiev{
    text-align: center;
    width: 100%;
    /* margin-top: 1rem; */
}

.achiev h2{
    font-size: 180%;
    font-weight: 600;
}

.achiev td{
    width: 30vw;
}

.prpl_box{
    width: 22vw;
    min-height: 15vh;
    margin: 2vh auto auto;
    padding: 5px 15px 15px -5px;
    background-color: var(--nav-clr);
    border: 2px solid var(--prpl);
    box-shadow: 0 0 50px var(--prpl);
    border-radius: 20px;
}

.prpl_box p{
    font-size: 150%;
    font-weight: 500;
    line-height: 30px;
}

.txt_box{
    width: 18vw;
    margin: 0 auto auto;
}

a{
    text-decoration: none;
}

.info_btn{
    cursor: pointer;
    width: 200px;
    height: 40px;
    border: 5px solid var(--prpl);
    border-radius: 20px;
    background-color: var(--body-clr);
    color: var(--prpl);
    font-size: 160%;
    font-weight: 500;
    padding: 20px 10px 10px;
    margin: 9.7vh 3vw 0;
    text-align: center;
    transition: 0.7s;
}

.info_btn p{
    margin: auto;
}

.info_btn:hover{
    background-color: var(--prpl);
    color: var(--body-clr);
}

.info_btn:active{
    background-color: var(--active-prpl);
}

.back_btn{
    cursor: pointer;
    width: 150px;
    height: 70px;
    border: 5px solid var(--prpl);
    border-radius: 20px;
    background-color: var(--prpl);
    color: var(--body-clr);
    font-size: 180%;
    font-weight: 500;
    padding: 10px 10px 10px;
    margin-top: 12vh;
    margin-left: 12vw;
    text-align: center;
    transition: 0.7s;
}

.back_btn:hover{
    background-color: var(--body-clr);
    color: var(--prpl);
}

.back_btn:active{
    background-color: var(--active-body);
}